.card-body {
  margin: auto;
  padding: 8px;
  margin-top: 20px;
  font-size: 17px;
  font-weight: 599;
  line-height: 19px;
  text-shadow: palevioletred;
  font-family: "Orbitron";
  background-image: url("https://media.giphy.com/media/KDteAGZcv7LiehlTDm/giphy.gif");
  display: block;
  text-transform: capitalize;
}

.card-body ul {
  list-style-type: none;
}

h1 {
  text-align: left;
  display: block;
  font-size: 22px;
  font-weight: lighter;
  font-family: "Orbitron";
}

h2 {
  text-align: center;
  font-size: 13px;
  font-weight: lighter;
  font-family: "Orbitron";
}

.location-forms input {
  text-align: left;
  margin: 12px auto;
  font-family: "Arial";
  font-size: small;
  border-radius: 8px;
}

.location-forms button {
  width: 70px;
  position: relative;
  left: 125px;
  background: pink;
  padding: 8px;
  border-radius: 8px;
}

.location-forms img {
  width: 30px;
  position: relative;
}

.current-location-button-image {
  width: 80px;
  padding: 0px;
}

.container .card {
  display: block;
  margin: 0 auto;
  margin: 30px auto;
  padding: 20px;
}
.weather-temp img {
  padding: 0px;
  margin-right: 10px;
  margin-top: -5px;
  height: 90px;
  width: 105px;
}

.weather-temp strong {
  font-size: 35px;
  line-height: 19px;
  font-weight: 250px;
  position: relative;
  top: 20px;
}

.weather-temp .units {
  position: relative;
  font-size: 20px;
  top: 10px;
  font-weight: 900;
}

.daily-forecast {
  margin: 0;
  padding: 0;
  list-style: none;
  padding: 0;
  font-size: 20px;
  font-weight: 600;
  line-height: 22px;
  font-family: "Orbitron", thin;
}

.container .list-group {
  display: block;
  font-family: "Orbitron";
  font-size: 25px;
  font-weight: 800px;
}

.forecast-img {
  width: 80px;
  display: inline;
  padding: 0px;
}

.row .col-2 {
  position: block;
  text-align: center;
  padding: auto;
  font-size: 13px;
}

.row .col-2 h3 {
  font-size: 17px;
  font-family: "Orbitron";
  margin-top: 20px;
}

.weather-temp .active {
  color: rgb(46, 28, 46);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

footer {
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: medium;
}
